<div class="jumbotron">
    <div class="container">
        <h1 class="home">About Group 12's Final Project</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Our Site</h2>
            <p>The purpose of our site is to display real-time data from Augur. Specifically, the different repositories and groups that are contained in Augur and the amount of pushes/pull, additions, issues, groups and their contributions.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h2>Software</h2>
            <h3>Front-End</h3>
            <p>In order to make our front-end UI and user friendly as possible, we decided to implement the application Angular Material UI component. In doing this, it allowed us to not only easily apply the different components that Material offered, but also include a strong since of theme and unison across each of the pages and tabular navigation bar. Ionic also makes it easy for the user to use our website on their phones or any other mobile device.</p>
            <br>
            <h3>Back-End</h3>
            <p>Originally being a Full Stack Group, we had originally planned to implement Firebase as both our server and also our database. Using our HTTPClient calls to the Augur API, we would be able to store the data retrieved in our Firebase database, and then make calls to our database in order to display the data on our UI. </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h2>Transitioning to Front End</h2>
            <p>When becoming a Front-End Group, we decided to not implement the Firebase database as originally planned since it was unnecessary, and instead focus on displaying real-time data clearly on multiple pages and the overall Ionic application. We used Google Charts to display our HTTPClient calls to the Augur API to best visualize and display Augur’s live data.</p>
        </div>
    </div>
    <hr>
</div>
    
