<div class="container">
    <div class="row">

        <br>
        <div class="col-md-4">
            <button class="btn btn-secondary" onclick="groupList()">Click me first to retreive data from API</button>
        </div>
        <br>
        
        <div class="col-md-4">
            <div id="headBar">
                <select id="groupList" onchange="repoList(this.selectedIndex-1)">
                    <option disabled selected>Project List</option>
                </select>
                <select id="repoList"></select>
                <input type="button" onclick="selectRepo()" value="Get Information">
            </div>
        </div>
        <div class="col-md-4">
            <h2>Experimental - Pull Request Acceptance Rate (Repo)</h2>
        </div>

        <div class="col-md-4">
            <div id="pullGraph"></div>
        </div>
    </div>
</div>
